$branco: #FFFFFF;
$azul: #3442B5;
$cinza-escuro: #3F3F40;
$cinza-medio: #9F9F9F;

.produtos-relacionados {
	display: flex;
	overflow: hidden;
	width: 100%;
	position: relative;
    padding: 0 20px;
    align-items: center;

	.produtos {
		display: flex;
		gap: 16px;
		overflow-x: auto;
		scroll-behavior: smooth;
		scrollbar-width: none;
        padding: 50px 20px;
        margin: 0 10px;
        z-index: 1;

        .produto {
            min-width: 304px;
            height: 500px;
            box-shadow: 0 3px 19px rgba(0, 0, 0, 0.22);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            color: $cinza-escuro;
            border-radius: 10px;

            .infos {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-size: 15px;
                    font-weight: 300;
                }

                .preco-antigo {
                    font-size: 16px;
                    color: #808080;
                    text-decoration: line-through;
                }

                .preco {
                    font-size: 20px;
                    font-weight: 600;
                }

                .parcelas {
                    font-size: 12px;
                }

                .frete {
                    font-size: 12px;
                    color: $azul;
                }
            }

            .compra-btn {
                width: 100%;
                height: 44px;
                background-color: $azul;
                color: $branco;
                font-weight: 600;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    background-color: $cinza-medio
                }
            }
        }
	}

    .arrow {
        min-width: 32px;
        height: 32px;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}
